$center : center;
$left : left;
$right : right;

.t-center{
    text-align: $center;
}
.t-left{
    text-align: $left;
}
.t-right{
    text-align: $right;
}
.header-profile-area{
    display: flex;
}
.header-profile-area .dropdown-menu{
    top: 100%;
    left: -145%;
}
.header-profile-area .search{max-width: 70%;}
.bg-black{background-color:#000000}
.border-dark {border-color:#000000} 
.btn-primary{
    background-color: #000000;
    border-color: #000000;
}

.btn-primary:hover{
    color: #000000 !important;
    background-color:#ffffff;
    border-color: #000000;
}
.btn-outline-primary {
    color: #000000;
    border-color: #000000;
}
.btn-outline-primary:hover {
    background-color: rgba(255,255,255,.55);
    border-color: rgba(255,255,255,.55);
    color: #000000;
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle{
    color: #000000 !important;
    background-color:#ffffff;
    border-color: #000000;
}
.bg-dark {
    background-color: #000000!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 600;
}

.navbar-nav:hover{
    color: rgba(255,255,255,.55);
}
.nav-link:hover{
    color: rgba(255,255,255,.55);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
.card-title, .text-capitalize a, .breadcrumb-item a{
    color:#000000;
}
.card-subtitle a, .list-group-item a {color: #000000;}
.pagination li a{color:#ffffff;}
.pagination li a{background-color: rgba(109, 107, 107, 0.884);}
.page-item.active .page-link {background-color: #000000; border-color: #000000;}
#nav-tab .nav-link{
    color: #000000;
}

.main-logo-1{
    margin-right: 5px;
}
.bg-primary {
    background-color: rgba(109, 107, 107, 0.884) !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #000000;
}
.nav-link,.nav-link:hover {
    color: rgba(109, 107, 107, 0.884) ;
}

// upe custom-css

.card-body{padding: 0;}

.card-body img{max-width: 100%;}

.product-list-view .img-fluid {max-width: 238px; padding-right: 15px;}
.product-grid-view .card-body {padding: 15px;}
.kiidad-amount{text-align: center;}
.kiidad-amount .kiidad-amount-item{
    text-align: center;
    background: linear-gradient(135deg, #4097f9, #0af0c7);
    padding: 30px 15px;
    margin: 15px 0;
    color: #fff;
    border-radius: 100px;

}
.kiidad-amount .kiidad-amount-item2{
    background: linear-gradient(135deg,#a93bfe,#584efd);
}
.kiidad-amount .kiidad-amount-item3{
    background: linear-gradient(135deg,#e649cb,#f56060);
}
.kiidad-amount .kiidad-amount-item .kiidad-amount-title{font-weight: 600; font-size: 20px; }
.kiidad-amount .kiidad-amount-item .kiidad-amount-price{font-weight: 800; font-size: 28px; }
// upe custom-css End